<div class="container">
  <h1 class="header15">Get Educated You Pervert</h1>
  <div class= "linktext">
    <% @articles.each do |article|%>
      <h3> <%= link_to article.title, article_path(article) %> <%= link_to "(edit)", edit_article_path(article) %> </h3>
      <% end %>
  </div>

  <div class="newarticle">
    <%= link_to "New article", new_article_path %>
  </div>
</div>
