/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .container {
  background-image: repeating-linear-gradient(to bottom right, lime 5%, grey 15%, purple 10%, yellow 25%);
  border-radius: 32% 13% 3% 48%;
  height: 100%;
  width: 50%;
  position: absolute;
  color: red;
  z-index: -10;
 }

 .header15 {
  transform: rotateZ(35deg);
  position: absolute;
  top: 20%;
  right: 40%;
  z-index: -1;
 }

 .linktext {
  transform: rotateZ(-5deg);
  color: lime;
  position: absolute;
  top: 20%;
  left: 25%;
  text-decoration: none;
 }

 .newarticle {
  rotate: 1 1 0 160deg;
  font-weight: bold;
  position: absolute;
  top: 50%;
 }

 .article {
  position: absolute;
  top: 30%;
  left:60%;
  rotate: 65deg;
 }

 .links {
  rotate: 180deg;
  background-color: black;
  position: absolute;
  top: 20%;
  transform: rotateZ(5deg);
 }

 .header30 {
  transform: rotateZ(113deg);
  position: absolute;
  top: 55%;
  right: 75%;
  z-index: -1;
  color: blue;
 }
